{% extends "layout/basic.html" %}

{% block content %}


<h2>Отчет расхода электроэнергии</h2>

<form action=""  method="post">
    {% csrf_token %}
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">{{ form.months.label }}</label>
            </div>
            <div class="col-auto">
                {{ form.months }}
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Выберете месяц для формирования отчета
                </span>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">{{ form.years.label }}</label>
            </div>
            <div class="col-auto">
                {{ form.years }}
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Выберете год для формирования отчета
                </span>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="form-check-label">{{ form.coefficient.label }} </label>
            </div>
            <div class="col-auto">
                {{ form.coefficient }}
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                    Применить для формирования отчета
                </span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Сформировать</button>
</form>
    <br>

        {% for generation in generations %}
           {{generations}} </br>
        {% endfor %}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th colspan="4"> Название узла </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th> Место установки </th>
            <th>
                Электроэнергия за </br> предыдущий период, </br> кВт⋅ч
            </th>
            <th>
                Электроэнергия за </br> текущий период, </br> кВт⋅ч
            </th>
            <th>
                Отношение к</br> предыдущему месяцу, </br> %
            </th>
        </tr>
        <tr>
            <th colspan="3">
                Выработка электроэнергии
            <th>
        </tr>
        {% for generation in generations %}
            generation.current.electricmeter.location </br>
            <tr>
                {% ifchanged %}
                    <td>{{ energy_generation.energy_current.electricmeter.location }}</td>
                {% endifchanged %}
            </tr>
            <tr>
                    <td>{{ energy_generation.energy_current.electricmeter.name }}</td>
                {% if energy_generation.energy_previous.active_plus == None %}
                    <td>0,0</td>
                {% else %}
                    <td>{{ energy_generation.energy_previous.active_plus }}</td>
                {% endif %}
                    <td>{{ energy_generation.energy_current.active_plus }}</td>
                {% if energy_generation.pct == None %}
                    <td>0,0</td>
                {% else %}
                    <td>{{ energy_generation.pct }} </td>
                {% endif %}
            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
